const config = {
  UPDATE_ONLINE_PLAYERS_INTERVAL: 120000, // MILLISECONDS

  TIME_BETWEEN_SHOUTS: 30, // SECONDS

  SERVER_TITLE: "Titans League - WoW",

  REALMLIST: "logon.Titans-League.org"
};

export default config;
