const config = {
  // This must match the data you have in your auth.realmlist table
  REALMS: [
    {
      id: 1,
      name: "NAME",
    },
  ],

  UPDATE_ONLINE_PLAYERS_INTERVAL: 120000,

  VUE_APP_TITLE: "Titans League - WoW",

  REALMLIST: "logon.Titans-League.org"
};

export default config;
