$xs-font-size: 0.6rem;
$sm-font-size: 0.7rem;
$md-font-size: 0.8rem;
$lg-font-size: 1rem;

@include media-breakpoint-up(xs) {
  h1 {
    font-size: 20px;
  }

  .main,
  .btn.btn-signin,
  .badge,
  .dropdown-item {
    font-size: $xs-font-size;
  }

  .main-content {
    min-height: 600px;
    margin-bottom: 5%;
  }

  /* USER PANEL */
  .user-menu a {
    padding: 5px 5px;
    font-size: 0.7rem;
  }

  .user-nav a {
    padding: 5px 5px;
    font-size: 0.4rem;
  }

  .form-group {
    input {
      font-size: $xs-font-size;
    }

    i {
      font-size: $xs-font-size;
    }
  }

  .update-account {
    span {
      font-size: 0.6rem;
    }

    i {
      display: none;
    }
  }

  .user-menu button {
    font-size: 0.6rem;
  }

  /* NAVIGATION */
  .navbar-logo {
    height: 30px;
    width: 30px;
  }

  .navbar-button {
    font-size: 0.5rem !important;
  }

  /* NEWS */
  .news-avatar {
    display: none;
  }

  .news-title h3 {
    font-size: 18px;
  }

  .news-content {
    height: 200px;
  }

  .news-footer {
    font-size: 0.5rem;
    height: 20px;
  }

  /* PROFILE INDEX */
  .profile-icon {
    height: 12px;
    width: 12px;
  }

  .profile-update-button img {
    height: 12px;
    width: 12px;
  }

  .profile-update-input {
    font-size: 0.5rem;
    height: 10px;
  }

  /* ONLINE PLAYERS */
  .online-image {
    height: 15px;
    width: 15px;
  }
}

@include media-breakpoint-up(sm) {
  h1 {
    font-size: 26px;
  }

  .main,
  .btn.btn-signin,
  .badge,
  .dropdown-item {
    font-size: $sm-font-size;
  }

  .main-content {
    min-height: 750px;
    margin-bottom: 5%;
  }

  /* USER PANEL */
  .form-group {
    input {
      font-size: $sm-font-size;
    }

    i {
      font-size: $sm-font-size;
    }
  }

  .user-nav a {
    padding: 5px 5px;
    font-size: 0.7rem;
  }

  .update-account {
    span {
      font-size: 0.8rem;
    }

    i {
      display: none;
    }
  }

  /* NAVIGATION */
  .navbar-logo {
    height: 35px;
    width: 35px;
  }

  .navbar-button {
    font-size: 0.7rem !important;
  }

  /* NEWS */
  .news-avatar {
    display: none;
  }

  .news-title h3 {
    font-size: 20px;
  }

  .news-footer {
    font-size: 0.6rem;
    height: 13px;
  }

  /* PROFILE INDEX */
  .profile-icon {
    height: 14px;
    width: 14px;
  }

  .profile-update-button img {
    height: 14px;
    width: 14px;
  }

  .profile-update-input {
    font-size: 0.6rem;
    height: 14px;
  }

  /* ONLINE PLAYERS */
  .online-image {
    height: 17px;
    width: 17px;
  }
}

@include media-breakpoint-up(md) {
  h1 {
    font-size: 30px;
  }

  .main,
  .btn.btn-signin,
  .badge,
  .dropdown-item {
    font-size: $md-font-size;
  }

  .main-content {
    min-height: 1000px;
    margin-bottom: 0;
  }

  /* NAVIGATION */
  .navbar-logo {
    height: 40px;
    width: 40px;
  }

  .navbar-button {
    font-size: 0.8rem !important;
  }

  /* NEWS */
  .news-avatar {
    display: unset;
    height: 90%;
    width: 90%;
  }

  .news-title h3 {
    font-size: 22px;
  }

  .news-content {
    height: 300px;
  }

  .news-footer {
    font-size: 0.8rem;
    height: 15px;
  }

  /* USER PANEL */
  .user-menu a {
    padding: 0.5vw 0.7vw;
    font-size: 0.6rem;
  }

  .user-nav a {
    padding: 5px 5px;
    font-size: 0.7rem;
  }

  .user-menu button {
    padding: 0.5vw 0.7vw;
    font-size: 0.6rem;
  }

  .form-group {
    input {
      font-size: $md-font-size;
    }

    i {
      font-size: $md-font-size;
    }
  }

  .update-account {
    span {
      font-size: auto;
    }

    i {
      display: unset;
    }
  }

  /* PROFILE INDEX */
  .profile-icon {
    height: 18px;
    width: 18px;
  }

  .profile-update-button img {
    height: 18px;
    width: 18px;
  }

  .profile-update-input {
    font-size: 0.6rem;
    height: 18px;
  }

  /* ONLINE PLAYERS */
  .online-image {
    height: 20px;
    width: 20px;
  }
}

@include media-breakpoint-up(lg) {
  h1 {
    font-size: 46px;
  }

  .main,
  .btn.btn-signin,
  .badge,
  .dropdown-item {
    font-size: $lg-font-size;
  }

  .main-content {
    min-height: 1290px;
    margin-bottom: 0;
  }

  /* NAVIGATION */
  .navbar-logo {
    height: 45px;
    width: 45px;
  }

  .navbar-button {
    font-size: 1rem !important;
  }

  /* NEWS */
  .news-avatar {
    display: unset;
    height: 90%;
    width: 90%;
  }

  .news-title h3 {
    font-size: 18px;
  }

  .news-content {
    height: 455px;
  }

  .news-footer {
    font-size: 1rem;
    height: 22px;
  }

  /* USER PANEL */
  .user-menu a {
    padding: 0.5vw 0.7vw;
    font-size: 0.8rem;
  }

  .user-nav a {
    padding: 0.5vw 0.7vw;
    font-size: 0.8rem;
  }

  .user-menu button {
    padding: 0.5vw 0.7vw;
    font-size: 0.8rem;
  }

  .form-group {
    input {
      font-size: $lg-font-size;
    }

    i {
      font-size: $lg-font-size;
    }
  }

  .update-account {
    span {
      font-size: auto;
    }

    i {
      display: unset;
    }
  }

  /* PROFILE INDEX */
  .profile-icon {
    height: 20px;
    width: 20px;
  }

  .profile-update-button img {
    height: 20px;
    width: 20px;
  }

  .profile-update-input {
    font-size: 0.75rem;
    height: 25px;
  }

  /* ONLINE PLAYERS */
  .online-image {
    height: 24px;
    width: 24px;
  }
}
